/* body {
  font-family: roboto, lato !important;
} */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo {
  height: 43px;
}

.navbar-brand {
  font-size: 27px;
  padding-left: 10px;
  /* font-family: 'Lato'; */
}

.nav-item a {
  color: gray !important;
  font-size: 16px;
  padding: 0 10px;
  font-weight: 600;
}

.display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

li.nav-item {
  padding: 0 10px;
}

.signin-image {
  height: 390px;
  border: 25px solid white;
  border-radius: 5px;
  box-shadow: 1px 1px 5px grey;
}

textarea:focus,
input:focus {
  outline: none !important;
}

.cursor-pointer {
  cursor: pointer;
}

.jumbotron {
  background: white;
}

/* index page */

.home-wrap {
  background-color: rgb(31, 30, 30);
}

.g-top {
  height: 89vh;
  position: relative;
}

.video-wrap {
  height: 600px;
}

.video-wrap > * {
  flex: 1 1 250px;
  border: 1px solid white;
}

.g-top-left {
  position: absolute;
  right: 0;
  height: 8vh;
  top: 0;
  border-bottom-left-radius: 10px;
}

.top-left-participant-wrap {
  position: relative;
}

.cursor-pointer {
  cursor: pointer;
  padding: 5px;
}
.cursor-pointer:hover {
  background-color: rgb(226, 225, 225);
  border-radius: 5px;
}

.top-left-participant-count {
  position: absolute;
  top: -2px;
  right: -3px;
  font-size: 15px;
}

.g-bottom {
  /* margin: 0 -10px !important; */
  padding: 0 20px;
  box-shadow: 0px 0px 5px black;
  z-index: 2;
}

.bottom-left {
  position: relative;
}

.action-icon-style {
  height: 40px;
  width: 40px;
  border: 1px solid lightgray;
  border-radius: 50%;
  font-size: 8px !important;
}

.end-call-wrap {
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
